<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= config.title %>
  </title>
</head>

<body>
  <h1>
    <%= config.title %>
  </h1>
  <ul>
    <% posts.forEach(function(post) { %>
      <li>
        <span class='post-date'>
          <%= post.date %>
        </span>
        <a href="<%= post.url %>" class="post-title">
          <%= post.title %>
        </a>
      </li>
      <% }) %>
  </ul>
</body>

</html>
